.paginator{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    >*:not(:last-child){
        margin-right: 5px;
    }

    .active{
        background: map-get($map: $theme-colors, $key: "primary");
        color: #ffffff;
    }
}